autocommand==2.2.2
certifi==2025.4.26
charset-normalizer==3.4.1
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
keyring==25.6.0
more-itertools==10.7.0
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
requests==2.32.4
rumps==0.4.0
setuptools==78.1.1
urllib3==2.5.0
py2app==0.28.8
macholib==1.16.3
altgraph==0.17.4
modulegraph==0.19.6
packaging==25.0

